body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}
#square {
    position: absolute;
    width: 100px;
    height: 100px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
}