
    body, html {
        margin: 0;
        padding: 0;
        height: 100%;
        overflow: hidden; /* чтобы canvas занимал всю область экрана */
    }
    canvas {
        display: block;
        position: fixed;
        top: 0;
        left: 0;
    }